<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loginout</title>
    <link rel="stylesheet" href="styles2.css" />
  </head>
  <body>
    <form action="/logout" method="get">
      <button type="submit">LoginOut</button>
    </form>
  </body>
</html>
